:root {
  box-sizing: border-box;
}

h2 {
  color: green;
}

#maze {
  display: flex;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  display: flex;
}

.finish {
  width: 40px;
  height: 40px;
  background-image: url(https://i.ebayimg.com/images/g/nokAAOSws0tfcemH/s-l400.jpg);
  background-color: green;
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.start {
  width: 40px;
  height: 40px;
  background-image: url(https://i.redd.it/4baprhfc9g841.png);
  background-color: blue;
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.wall {
  width: 40px;
  height: 40px;
  background-color: brown;
}

.empty {
  width: 40px;
  height: 40px;
}

.player {
  width: 40px;
  height: 40px;
  background-image: url("https://cdn.vox-cdn.com/thumbor/axfNbylzmzZn-SJ0Sl1v6soFsXg=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22124944/grogu_baby_yoda.jpg");
  background-color: gray;
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

/* left: 9px;
top: 566px; absolute positioning */
